# 프롬프트 api 키
GMS_API_KEY = 

# shorts 생성 api 키
LUMAAI_API_KEY = 
RUNWAY_API_KEY = 

# 사업자 등록증 api 키 - 현재는 미운영
CLOVA_LICENSE_SECRET_KEY = 
CLOVA_LICENSE_API_URL= 

# 영수증 인증 api 키
CLOVA_RECEIPT_SECRET_KEY = 
CLOVA_RECEIPT_API_URL = 

# 메뉴판 등록 api 키
CLOVA_MENU_SECRET_KEY = 
CLOVA_MENU_API_URL =
